<div class='view_post'>
	<h3><%= @title%> </h3>
	<hr>
	<div class="col-xs-12">
		<% @context.each do |context|%>
		<p><%= context%><br></p>
		<%end%>
	<hr>
	</div>
	<% if @post.comments.size > 0 %>
		<div class="col-xs-12 comment_block">
			
			評論
			
				<% @post.comments.each do |comment| %>
				<div class="comment_item">
					<% if comment.user_id > 0%>
						<div><%=comment.user.username%>:</div>
					<% else%>
						<div>訪客:</div>
					<%end%>
					<% @Ccontext = comment.context.split("\n")%>
					<div><%@Ccontext.each do |line|%>
							<%=line%><br>
						<%end%>
					</div>
				</div>
				<% end %>
			
		</div>
	<% end %>
	<div>
		<%= form_tag("/comment",method: "post") do%>
			<div class="col-xs-10">
				留下評論：(
				<% if current_user%>
					<%= current_user.username%>
				<%else%>
					訪客
				<%end%>
				)
				<%=text_area_tag 'context','', rows: 3, cols: 75%>
			</div>
			<%= hidden_field_tag :id , @post.id %>
			<div class="col-xs-2">
				<%= submit_tag "送出" , class: "btn btn-default comment_submit"%>
			</div>
		<%end%>
	</div>
</div>