<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <% if current_user %>
      <a href='/'><p class="navbar-text nav_name">Hi,<%= current_user.username%>!</p></a>
      <% else%>
        <a href='/'><p class="navbar-text nav_name">ikalaBlog</p></a>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li><%= link_to '新增文章', {:controller=>'page',:action =>'new_post'} %></li> 
        <li><%= link_to('登出', destroy_user_session_path, :method => :delete) %></li> 
      <% else %>
          <li><%= link_to('註冊', new_registration_path(:user)) %></li>
          <li><%= link_to('登入', new_session_path(:user)) %></li>
      <% end %>
    </ul>
  </div>
</nav>
<div class="container">
<%= yield %>
</div>
</body>
</html>
